version: "3"

services:
    nominatimphp83:
        build: 
            context: ./nominatim-php83
        ports:
            - "50013:8080"
        environment:
            # see https://github.com/mediagis/nominatim-docker/tree/master/4.3#configuration for more options
            PBF_URL: https://download.geofabrik.de/north-america-latest.osm.pbf
            NOMINATIM_PASSWORD: notongitlab
        volumes:
            - nominatim-data:/var/lib/postgresql/16/main
        shm_size: 64gb

volumes:
    nominatim-data:
