name: clean docker images

on:
  schedule:
    - cron: "0 20 1 * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:

  clear-cache:
    runs-on: self-hosted

    steps:
    - name: Clear docker cache
      run: docker system prune -af --volumes
    - name: Delete docker volumes not included in system prune
      run: docker volume prune -af
      # run: docker buildx prune -a --verbose
    - name: Stop services, clean containerd folders, and restart services
      run: sudo /home/cleandocker
    - name: Clear docker cache again
      run: docker system prune -af --volumes
    - name: Delete docker volumes not included in system prune again
      run: docker volume prune -af
