name: clean docker images

on:
  schedule:
    - cron: "0 20 * * 0"

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:

  clear-cache:
    runs-on: self-hosted

    steps:
    - name: Clear docker cache
      run: docker system prune -af --volumes
    - name: Delete docker volumes not included in system prune
      run: docker volume prune -af
      # run: docker buildx prune -a --verbose
