name: Build Docker Images

on:
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"
  schedule:
    - cron: "0 21 * * 0"

concurrency:
  group: ${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

env:
  # dynamic doesn't work, only static
  BUILD_NUM: $(date +%Y%m%d%H%M%S)
  REPOSITORY:
  TIGER_DOMAIN: clad-github-builder.rit.uw.edu

jobs:

  export-build-num:
    runs-on: self-hosted

    steps:
    - name: export BUILD_NUM to env
      run: |
        timestamp=$(date +%Y%m%d%H%M%S)
        echo "BUILD_NUM=$timestamp" >> "$GITHUB_ENV"

  build-degauss-foundry:
    runs-on: self-hosted
    needs: export-build-num

    steps:
    - uses: actions/checkout@v5
    - name: print env
      run: env | sort
    - name: Build the degauss-foundry image
      run: docker build --load --cpu-quota $(( $(nproc --all)*100000 )) degauss-foundry --platform linux/amd64 --tag genoa-container-registry.washington.palantircloud.com/degauss-foundry:${{ env.BUILD_NUM }}
    - name: Run Trivy CVE vulnerability scanner
      uses: aquasecurity/trivy-action@0.33.1
      with:
        image-ref: genoa-container-registry.washington.palantircloud.com/degauss-foundry:${{ env.BUILD_NUM }}
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        timeout: '1h'
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH,MEDIUM'
    - name: test container
      run: docker run --rm -v "${PWD}/test":/tmp ${{ env.container }} my_address_file.csv

  setup-postgis-states:
    runs-on: self-hosted
    needs: export-build-num
    outputs:
      matrix: ${{ steps.matrix.outputs.value }}

    steps:
    - id: matrix
      run: echo 'value=["ak", "al", "ar", "az", "ca", "co", "ct", "dc", "de", "fl", "ga", "hi", "ia", "id", "il", "in", "ks", "ky", "la", "ma", "md", "me", "mi", "mn", "mo", "ms", "mt", "nc", "nd", "ne", "nh", "nj", "nm", "nv", "ny", "oh", "ok", "or", "pa", "ri", "sc", "sd", "tn", "tx", "ut", "va", "vt", "wa", "wi", "wv", "wy", "pr"]' >> $GITHUB_OUTPUT
    - run: echo "${{ steps.matrix.outputs.value }}"

  build-postgis-states:
    runs-on: self-hosted
    needs: setup-postgis-states
    continue-on-error: true
    strategy:
      matrix:
        value: ${{fromJSON(needs.setup-postgis-states.outputs.matrix)}}

    steps:
    - uses: actions/checkout@v5
    - name: print env
      run: env | sort
    - name: Build the postgis image
      run: docker build --shm-size 4g --load --cpu-quota $(( $(nproc --all)*100000 )) --build-arg TIGER_DOMAIN=clad-github-builder.rit.uw.edu --build-arg state_var=${{ matrix.value }} uwpostgis-foundry --platform linux/amd64 --tag genoa-container-registry.washington.palantircloud.com/postgis-${{ matrix.value }}:${{ env.BUILD_NUM }}
    - name: Run Trivy CVE vulnerability scanner
      uses: aquasecurity/trivy-action@0.33.1
      with:
        image-ref: genoa-container-registry.washington.palantircloud.com/postgis-${{ matrix.value }}:${{ env.BUILD_NUM }}
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        timeout: '1h'
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH,MEDIUM'
